:root {
  --basic-grey100: #EEE;
  --basic-grey200: #DFDFDF;
  --basic-grey300: #E1E1E1;
  --basic-grey400: #D5D5D5;

  --border-grey100: #D7DCDE;
  --border-grey200: #B4B9BB;
  --border-grey600: #DBDBDB;

  --accent-grey100: #A6A6A6;

  --black100: #4D4D4D;
  --black200: #000;
  --black300: #283136;
  --black400: #444;
  --black500: #231F20;
  --black600: #666;


  --red100: #FB565A;
  --red200: #E74246;
  --red300: #D7373B;

  --white100: #FFF;

  --button-active-color: rgba(255, 255, 255, 0.3);

  --green100: #00CA74;
  --green200: #00BC6C;
  --green300: #00AA62;

  --yellow100: #EFC84A;
  --yellow200: #EAB534;
  --yellow300: #E5A722;
}

/* Global */

body {
  min-width: 1460px;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Button */


.button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--white100, white);
  border-style: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  outline: none;
}

.button:active {
  color: var(--button-active-color, white);
  outline: none;
}

.red-button {
  background-color: var(--red100);
}

.red-button:hover,
.red-button:focus {
  background-color: var(--red200, tomato);
}

.red-button:active {
  background-color: var(--red300, darkred);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--red200, tomato);
}

.social-button:active {
  background-color: var(--red300, darkred);
}

.yellow-button {
  background-color: var(--yellow100);
}

.yellow-button:hover,
.yellow-button:active {
  background-color: var(--yellow200);
}

.yellow-button:active {
  background-color: var(--yellow300);
}

.green-button {
  background-color: var(--green100);
}

.green-button:hover,
.green-button:focus {
  background-color: var(--green200);
}

.green-button:active {
  background-color: var(--green300);
}

/* visually hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Page header */

.page-header {
  background-color: var(--basic-grey100, grey);
}

.header-menu {
  background-color: transparent;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
}

.site-navigation a {
  text-decoration-line: none;
  color: var(--black200, black);
}

.site-navigation a:hover {
  color: var(--red100, red);
}

.site-navigation a:focus {
  border-bottom: 2px solid var(--red100, red);
  outline: none;
}

.site-navigation a:active {
  color: var(--black200);
  opacity: 0.3;
  border-bottom: 0px;
  outline: none;
}

.site-navigation a.navigation-basket {
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  padding-left: 20px;
  opacity: 1;
}

/* main index */

/* advantages */

.advantages-item h3{
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--black200);
}

.advantages-item p.advantages-facts {
  font-weight: 400;
  line-height: 24px;
  color: var(--black300);
}

/* footer */

.main-footer {
  background-color: var(--white100, white);
}

.map-contacts {
  background-color: var(--white100, white);
  text-align: center;
}

.map-contacts h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.map-contacts p {
  font-size: 16px;
  line-height: 18px;
}

.map-contacts a {
  text-decoration-line: none;
  color: var(--black600);
}

.social-contacts {
  background-color: var(--white100);
}

.social-icons a {
  background-color: var(--basic-grey300);
  border: 0px;
  border-radius: 50%;
}


 .vk-icon a {
  padding: 33px 28px 33px 27px;
}

.facebook-icon a {
  padding: 31px 34px 28px 35px;
}

.insta-icon a {
  padding: 30px;
}

.discount h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;

  color: var(--black200, black);
}

.discount p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--black400, black);
}

/* popup */

.popup-window {
  background-color: var(--white100, white);
}

.popup-window h2 {
  color: var(--black200, black);
}

.popup-form label {
  color: var (--black200);
  font-weight: 700;
}

.popup-form input:not([type="submit"]),
.popup-form textarea {
  border: 2px solid var(--border-grey100, grey);
  border-radius: 3px;
  opacity: 0.5;
}

.popup-form input:not([type="submit"]):hover,
.popup-form textarea:hover {
  border-color: var(--border-color200, lightgrey);
}

.popup-form input:not([type="submit"]):active,
.popup-form input:not([type="submit"]):focus,
.popup-form textarea:active,
.popup-form textarea:focus {
  color: var(--black400);
  border-color: var(--black200, black);
  opacity: 1;
  outline: none;
}

.popup-form input::placeholder,
.popup-form textarea::placeholder {
  color: var(--grey400);
  background-color: inherit;
  opacity: 0.5;
}

.popup-window button{
  background-color: transparent;
  background-image: url(../img/close-cross.svg);
}
